<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym-Schedule</title>
</head>

<body>
    <!-- <h1>Schedule for {{name}}</h1> -->
    <h1>Add a new slot to my schedule:</h1>
     <form method="POST" action="add">
        {% csrf_token %}
        {{ form.as_p}}
         <!-- <div>
             <p>
                 <label for="id_name">First Name:</label>
                 <input type="text" id="id_fname" name="fslot_name" />
             </p>
         </div>
         <div>
             <p>
                 <label for="id_name">Last Name:</label>
                 <input type="text" id="id_lname" name="lslot_name" />
             </p>
         </div>
         <div>
             <p>
                 <label for="id_submit">Submit:</label>
                 <input type="checkbox" id="id_submit" name="submit" />
             </p>
         </div> -->
         <div>
             <p>
                 <button type="submit">Add Slot</button>
             </p>
         </div>
         </form>
</body>

</html>