{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="border bg-muted p-3 mb-3">

    <div class="row">
        <div class="col-md-8">


            <h1>Edit the booked slot:</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}


                <div>
                    <p>
                        <button type="submit">Update Slot</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}