<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym-Schedule</title>
</head>
<body>
    <!-- <h1>Schedule for {{name}}</h1> -->
    <h1>My Schedule</h1>
    
        <table>
       {% for slot in slots %}
            <tr>
                 
                 {% if slot.submit %}
                <td>{{ slot.firstname }}</td>
                <td>{{ slot.lastname }}</td>
                <td>{{ slot.slot_date }}</td>
                <td>{{ slot.slot_time }}</td>
                 <!-- <td>Success</td> -->
                 {% else %}
                <td><strike>{{ slot.firstname }}</strike></td>
                <td><strike>{{ slot.lastname }}</strike></td>
                 {% endif %}
                <td>
                      <a href="/edit/{{ slot.id }}">
                         <button>Edit</button>
                      </a>
                </td>
                  
                    {% if slot.submit %}
                    
                    <td>
                        <a href="/delete/{{ slot.id }}">
                            <button>Delete</button>
                        </a>
                    </td>

                    {% else %}
                    <td>Finished</td>
                    <td>
                        <a href="/delete/{{ slot.id }}">
                            <button>Delete</button>
                        </a>
                    </td>
                    
                    {% endif %}
                
              
           
            </tr>
            <br/>
               {% empty %}
               <tr>
                   <td>You have no training slots booked for today</td>
               </tr>

                {% endfor %}
        </table>
        <br/>
        <br/>
    <a href="/add"><button>Add a Slot</button></a>

</body>
</html>