{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Gym Pro</title>
    {% block css %}
    <!-- Import css -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Favicon imports -->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    {% endblock %}
    <!-- Javascript files -->
    {% block postload_js %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% endblock %}
</head>

<body>

 <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'get_schedule' %}"><span class="brand, red-0">GymPr<span
                        class="red-o">o</span><span class="thin">|</span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Logout</a>
                    </li>

                </ul>
                <span class="navbar-text text-muted">
                    Goal Fitness
                </span>
            </div>
        </div>
    </nav>

    <!-- Messages-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- /Messages-->

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <section id="bg-image-contact">

            <div class="container-fluid w-75 p-3" style="background-color: rgb(184, 159, 225);">
                <h2 class="text-center ">My Schedule</h2>
                             
                <div class="border bg-muted p-3 mb-3">

                    <div class="row">
                        <div class="col-md-8">
                            {% for slot in slots %}
                            <div class=" border bg-muted p-3 mb-3 col-md-8">
                                {% if slot.submit %}
                                <p><strong>Name</strong> : {{ slot.firstname }} {{ slot.lastname }} </p>
                                <p><strong>Date </strong> : {{ slot.slot_date }} 
                                <strong>Time </strong> : {{ slot.slot_time }}</p>

                                <!-- <p>Success</p> -->
                                {% else %}
                                <p><strike></strong>{{ slot.firstname }} {{ slot.lastname }} {{ slot.slot_date }}{{ slot.slot_time }}</strike>
                                    <span class="btn btn-success btn-sm mr-2"><i class="far fa-check-circle"></i>
                                </p>
                                {% endif %}

                              
                                <a class="btn btn-info btn-sm mx-1" href="/edit/{{ slot.id }}">Edit</a>


                                {% if slot.submit %}
                                <a class="btn btn-danger btn-sm mx-1" href="/delete/{{ slot.id }}">Delete</a>

                                {% else %}

                                <a class="btn btn-danger btn-sm mx-1" href="/delete/{{ slot.id }}">Delete</a>


                                {% endif %}
                            </div>

                            {% empty %}
                            <div>
                                <p>You have no training slots booked for today</p>
                            </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>
            <div>
                <a href="/add"><button type="button" class="btn btn-secondary btn-sm mx-1">Add a Slot</button></a>

            </div>
            </div>
        </section>

      <!-- Footer -->


    {% include 'includes/footer.html' %}

    <!-- /Footer -->
        
    <script>
    
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);
    
    </script>



</body>

</html>