{% load static %}

<!DOCTYPE html>`
<html lang="en">

<head>
    <title>{% block title %}GymPro{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Gympro is for booking gym sessions and is situated in Navan,Dublin,Ireland">
    <meta name="keywords" content="Gym,Trainers,Navan,Dublin,Ireland">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <!-- Import css -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Josefin-Slab|Architects-Daughter" rel="stylesheet">

    <!-- Favicon imports -->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    {% endblock %}
    <!-- Javascript files -->
    {% block postload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">c<span class="red-o">o</span>de<span
                        class="thin">
                        <img src="{% static 'images/logo.png' %}" alt="GymPro Logo">
                    </span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="signup/">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login/">Login</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        <!-- <h1>Schedule for {{name}}</h1> -->
        <h1>My Schedule</h1>


        <table>
            {% for slot in slots %}
            <tr>

                {% if slot.submit %}
                <td>{{ slot.firstname }}</td>
                <td>{{ slot.lastname }}</td>
                <td>{{ slot.slot_date }}</td>
                <td>{{ slot.slot_time }}</td>
                <!-- <td>Success</td> -->
                {% else %}
                <td><strike>{{ slot.firstname }}</strike></td>
                <td><strike>{{ slot.lastname }}</strike></td>
                {% endif %}
                <td>
                    <a href="/edit/{{ slot.id }}">
                        <button>Edit</button>
                    </a>
                </td>

                {% if slot.submit %}

                <td>
                    <a href="/delete/{{ slot.id }}">
                        <button>Delete</button>
                    </a>
                </td>

                {% else %}
                <td>Finished</td>
                <td>
                    <a href="/delete/{{ slot.id }}">
                        <button>Delete</button>
                    </a>
                </td>

                {% endif %}



            </tr>

            {% empty %}
            <tr>
                <td>You have no training slots booked for today</td>
            </tr>

            {% endfor %}
        </table>

        <a href="/add"><button>Add a Slot</button></a>

        {% endblock content %}
    </main>

    <!-- Footer -->
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d151768.77844123924!2d-7.009893000000001!3d53.533001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5afafe4de44bd3e!2sShubh%20Connections!5e0!3m2!1sen!2sus!4v1651707134873!5m2!1sen!2sus"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span>Back to Top</span>
        </a>
        <!-- Address -->
        <div>
            <p> <i class="fa fa-address-card-o" aria-hidden="true"></i>
                GymPro , Cloneygrange,<br>Ballivor, Co. Meath, Ireland C15P086</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@GymPro.ie </p>
            <p> <i class="fa fa-phone" aria-hidden="true"></i> +353 469567275</p>
            <p>Copyright © GymPro</p>
        </div>
        <div>
            <ul class="links">
                <!-- Facebook link opening in a new tab -->
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our facebook page(opens in a new tab)"> <i class="fa fa-facebook-square"
                            aria-hidden="true"> </i></a>
                </li>
                <!-- Youtube link opening in a new tab -->
                <li>
                    <a href="https://www.youtube.com/" target="_blank." rel="noopener"
                        aria-label="Visit our youtube page(opens in a new tab)"> <i class="fa fa-youtube-square"
                            aria-hidden="true"></i> </a>
                </li>
                <!-- Instagram link opening in a new tab -->
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our instagram page(opens in a new tab)"> <i class="fa fa-instagram"
                            aria-hidden="true"></i> </a>
                </li>
                <!-- Twitter link opening in a new tab -->
                <li>
                    <a href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="Visit our twitter page(opens in a new tab)"> <i class="fa fa-twitter-square"
                            aria-hidden="true"></i> </a>
                </li>
            </ul>
        </div>
    </footer>


</body>

</html>