<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Pro | Reach a new milestone every month</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
     <!-- Favicon imports -->

     <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  
</head>

<body>
    <div class="container-fluid navalert-container">
        <div class="container-fluid alert-container">
            <div class="row d-none d-sm-block">
                <div class="col-12">
                    <div class="site-wide-alert alert alert-warning text-center">
                        <strong>Sale Now On!</strong> We've got a sale on. Get a 12-month subscription for the price of 6!
                         <!-- <a href="">See here for details!</a> -->
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark navbar-expand-sm">
            <!-- <a class="navbar-brand" href="{% url 'get_schedule' %}"><span class="brand, red-0">GymPr<span
                class="red-o">o</span><span class="thin">|</span></span></span></a> -->
            <a href="/" class="navbar-brand">Gym Pro</a>

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="active nav-item mr-2"><a class="nav-link" href="/">Home</a></li>
                    <li class="active nav-item mr-2"><a class="nav-link"  href="{% url 'get_schedule' %}">Trainers</a></li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'get_schedule' %}">Trainers</a>
                    </li> -->
                    <li class="nav-item mr-2"><a class="nav-link" href="/">Logout</a></li>
                   
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="/login">Sign In / Sign Up</a></li>
                </ul>
            </div>
            <div class="d-none d-md-block">
                <p class="navbar-text my-auto mr-2"><i>Dublin's best Personal trainers available for booking!</i></p>
                <a href="/login" class="btn btn--cta btn--red">Sign In / Sign Up</a>
            </div>
        </nav>
    </div>

      
    <div class="container-fluid callout-container">
        <!-- Callout -->
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center">
                <section class="callout jumbotron text-center">
                    <h1 class="jumbotron-header">LET'S SHAPE UP FOR SUMMER!</h1>
                    <hr class="block-divider block-divider--orange">
                    <p class="lead">Sign up today to start Personal training in Dublin from Qualified personal trainers 
                        
                        <!-- the world's best training every month. -->
                       
                        <!-- <s class="d-none d-sm-inline">€19.99</s> -->
                        <span class="d-inline d-sm-none"><br></span>
                        <strong><mark>Free 4 Day Trial Membership!</mark></strong></p>
                    <p><button class="btn btn--cta btn--red " data-toggle="modal" data-target="#signUpModal">Free Trial Sign Up!</button></p>
                    <p class="text-muted"><small>Personal Training
                        with Dublin's best personal trainers.</small></p>
                       
                </section>
                    
                    <!-- <p class="text-muted"><small>You must be over 18 to sign up to our service. Please workout responsibly.</small></p> -->
                </section>
            </div>
        </div>
    </div> 
        <!-- /.callout -->
       
       
      
</div>
        <!-- Features -->
        <div class="container-wrapper container-wrapper--red">
        <div class="features-container content-container">
        <section class="features">
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="text-uppercase"> When you 100% absolutely need to get back in shape.</h2>
                    <p>We have personal training plans for clients and members who want private one-to-one personal training.
                    <br> We also have great value group personal trainer plans where you can work with your personal trainer in groups of 3-4 people.<br>
                     And of course, we offer our FREE 6-Day Personal Training to all new members.</p>
                    <hr class="block-divider block-divider--short block-divider--white">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> Private personal training </h3>
                        <p>Personal training at our Club is a personalised form of fitness coaching and nutritional counselling.

                   
                            Our personal training service involves you working one-on-one with a qualified professional trainer, a couple of times a week, to guarantee you quickly get the fitness results you want. 
                            
                        
                            
                            Losing weight, toning, up, getting stronger, being healthier. Our personal trainers are here to guide you every step of the way.</p>

                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> What's involved in personal training?</h3>
                        <p>When you start personal training at our Club, 
                           
                            your trainer will then do a full assessment of your current fitness level to ensure you get a training routine
                            that suits you.

                            Your personal trainer will take into account your age, fitness history,
                            and any injuries or medical issues you mat have. 
                            They will then develop a customised training programme just for you - 
                            incorporating exercises and activities you enjoy and that are within your ability range.
                            
                            
                        </p>
                        
                    </div>
                </div>
                <div class="col-12 d-md-none d-lg-block col-lg-4">
                    <div class="feature">
                        <h3>How much does personal training cost?</h3>
                        <p>Private personal training used to be for the rich and famous. But not at our Club. Why? Because we offer one-to-one personal training packages to suit every budget. Contact our gym manager to schedule an initial consultation for free and we can help you choose the right personal training package for your budget.</p>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
        </div>
        <!-- /.features -->
        
    <div class="modal" tabindex="-1" role="dialog" id="signUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up To Feel Healthy!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword">Repeat Password</label>
                            <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer class="container-fluid ">

    <div id="footer-details" class="row">
        <div class="col-sm-4 ">
            <h2 class="uppercase general-sub">About</h2>
            <p class="inline-block">
               Let your Fitness Journey begin
            </p>


            <div class="Contact us">
                Address
                 <h2 class="uppercase general-sub">Address </h2>
                <p class="inline-block">
                    Phoenix Park
                    <br>
                    Dublin
                </p>
                <p class="inline-block"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@GymPro.ie </p>
                <p class="inline-block"> <i class="fa fa-phone" aria-hidden="true"></i> +353 7777777777</p>

            </div>

        </div> 

        <div class="col-sm-4 "> 

            <!-- opening times  -->
             <h2 class="uppercase general-sub">Opening hours</h2>
            <p class="inline-block">
                Monday - Friday: 7am - 10pm
                <br>
                Saturday: 9am - 6pm
                <br>
                Closed Sunday and Bank Holidays
            </p>

        </div>
        <div class="col-sm-4 ">
 
            <!-- Social Links -->
            <h2 class="uppercase general-sub">Social</h2>
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>

        </div>

       
    </div>

    <div class="d-flex justify-content-center copyright-banner">
        <p class="m-1">Copyright © 2023 | Gym Pro</a>
        </p>
       
    </div>

</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>