{% load static %}
<!DOCTYPE html>`
<html lang="en">

<head>
     <title>{% block title %}GymPro{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ShubhConnections yoga for learning Mindfullness and Yoga in Navan,Dublin,Ireland">
    <meta name="keywords" content="Yoga,Mindfullness,Navan,Dublin,Ireland">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <!-- Import css -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Josefin-Slab|Architects-Daughter" rel="stylesheet">
    
    <!-- Favicon imports -->
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    {% endblock %}
    <!-- Javascript files -->
    {% block postload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}
   
 
    
   
</head>

<!-- <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
   
    <section id="bg-image-contact">
        -

        <div class="container signup-form">
            <h2>Sign up!</h2>
            <form method="POST" action="https://formdump.codeinstitute.net/" action="/action_page.php">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="input" class="form-control" id="fname" placeholder="First Name" name="first_name">
                </div>
                <div class="form-group">
                    <label for="fname">Last Name:</label>
                    <input type="input" class="form-control" id="lname" placeholder="Last Name" name="last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

        </div>


    Javascript files
    {% block postload_js %}
    <!-- font awesome script -->

    <!-- <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
    {% endblock %}

</body>  -->

<!-- </html> --> -->

 


 <body>
     <!-- Header -->
     {% include 'includes/nav.html' %}

     {% if messages %}
     <!-- messages -->
     <div class="toasts">
         {% for message in messages %}
         {% include 'includes/toasts/toast.html' %}
         {% endfor %}
     </div>
     {% endif %}

     <main>
         <div class="container">
             {% block content %}
             <!-- Content Goes here -->
             {% endblock content %}
         </div>
     </main>

     <!-- Footer -->
     {% include 'includes/footer.html' %}

     {% block extra_js %}
     <script>
    <!-- font awesome script -->

    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
    
     </script>
     {% endblock %}

 </body>

 </html>
<!-- 
{% load static %}
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <img src="{% static 'images/sitelogo.png' %}" alt="Logo">
    <br/>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
   
</body>

</html> -->