{% load static %}
<section>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d151768.77844123924!2d-7.009893000000001!3d53.533001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5afafe4de44bd3e!2sShubh%20Connections!5e0!3m2!1sen!2sus!4v1651707134873!5m2!1sen!2sus"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span>Back to Top</span>
    </a>
     <!-- Address -->
    <div>
        <p> <i class="fa fa-address-card-o" aria-hidden="true"></i>
            GymPro , Cloneygrange,<br>Ballivor, Co. Meath, Ireland C15P086</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@GymPro.ie </p>
        <p> <i class="fa fa-phone" aria-hidden="true"></i> +353 469567275</p>
        <p>Copyright © GymPro</p>
    </div>
    <div>
        <ul class="links">
            <!-- Facebook link opening in a new tab -->
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our facebook page(opens in a new tab)"> <i class="fa fa-facebook-square"
                        aria-hidden="true"> </i></a>
            </li>
            <!-- Youtube link opening in a new tab -->
            <li>
                <a href="https://www.youtube.com/" target="_blank." rel="noopener"
                    aria-label="Visit our youtube page(opens in a new tab)"> <i class="fa fa-youtube-square"
                        aria-hidden="true"></i> </a>
            </li>
            <!-- Instagram link opening in a new tab -->
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our instagram page(opens in a new tab)"> <i class="fa fa-instagram"
                        aria-hidden="true"></i> </a>
            </li>
            <!-- Twitter link opening in a new tab -->
            <li>
                <a href="https://twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our twitter page(opens in a new tab)"> <i class="fa fa-twitter-square"
                        aria-hidden="true"></i> </a>
            </li>
        </ul>
    </div>
</footer>
